body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(45deg, red, black);
}

.calculator {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px blue;
    width: 300px;
    background: brown;
}

.display {
    text-align: right;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    color: aqua;
}

#display {
    width: 100%;
    padding: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    box-shadow: 54px;
    box-shadow: yellowgreen;
}


button {
    padding: 15px;
    font-size: 1.2rem;
    border: none;
    outline: none;
    background-color: darkblue;
    cursor: pointer;
    color: aqua;
}

button:hover {
    background-color: yellowgreen;
}
